<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title>My Movie App</title>
</head>

<body>
    <h1>My Movie App</h1>
    <div class="movie-grid">
        
            <div class="movie">
                <div class="movie-poster">
                    
                        <a href="https://www.imdb.com/title/tt1396484" target="_blank">
                            <img src="https://m.media-amazon.com/images/M/MV5BZGZmOTZjNzUtOTE4OS00OGM3LWJiNGEtZjk4Yzg2M2Q1YzYxXkEyXkFqcGc@._V1_SX300.jpg" alt="It poster">
                        </a>
                    
                </div>
                <div class="movie-details">
                    <p class="movie-title"> It </p>
                    <p class="movie-year">2017</p>
                    <p class="movie-rating">7.3 / 10</p>
                </div>
            </div>
        
            <div class="movie">
                <div class="movie-poster">
                    
                        <a href="https://www.imdb.com/title/tt0126029" target="_blank">
                            <img src="https://m.media-amazon.com/images/M/MV5BN2FkMTRkNTUtYTI0NC00ZjI4LWI5MzUtMDFmOGY0NmU2OGY1XkEyXkFqcGc@._V1_SX300.jpg" alt="Shrek poster">
                        </a>
                    
                </div>
                <div class="movie-details">
                    <p class="movie-title"> Shrek </p>
                    <p class="movie-year">2001</p>
                    <p class="movie-rating">7.9 / 10</p>
                </div>
            </div>
        
            <div class="movie">
                <div class="movie-poster">
                    
                        <a href="https://www.imdb.com/title/tt0086250" target="_blank">
                            <img src="https://m.media-amazon.com/images/M/MV5BNDUzYjY0NmUtMDM4OS00Y2Q5LWJiODYtNTk0ZTk0YjZhMTg1XkEyXkFqcGc@._V1_SX300.jpg" alt="Scarface poster">
                        </a>
                    
                </div>
                <div class="movie-details">
                    <p class="movie-title"> Scarface </p>
                    <p class="movie-year">1983</p>
                    <p class="movie-rating">8.3 / 10</p>
                </div>
            </div>
        
    </div>
</body>

</html>